.content__default:not(.custom)
  background-color: var(--background-color)
  border-radius: 4px
  box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.3)

.page
  .page-title
    background-color: var(--background-color)
    border-radius: 4px
    box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.3)
    margin-bottom: 20px !important

html
  body
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%)

html.dark
  body
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply

.home-blog
  .content__default:not(.custom)
    background: transparent
    box-shadow: none

.home-blog
  .blog-list
    background-color: var(--background-color)
    border-radius: 4px
    box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.3)
  .abstract-item
    box-shadow: none !important
    border-bottom: 1px solid #ccc
    padding: 20px 0 !important
    margin: 0 40px 20px !important
    border-radius: 0 !important
    width: calc(100% - 80px) !important
  .pagation
    border-radius: 0 0 4px 4px

.timeline-wrapper
  .timeline-content
    background-color: var(--background-color)
    border-radius: 4px
